{% extends '::base.html.twig' %} {% block body %}
<header>
	<div id='logo1'>
		<h1>WhatHaveIDoneNow?!</h1>
	</div>
	<h4>because no matter what, you'll have done something wrong</h4>
	<div id='top_post'>
		<button name="Post" onclick="self.location='{{ path('whathaveidonenowblog_homepage')}}'">Home!</button>
	</div>
</header>
<div id='wrapper'>

	<div id='add_post'>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.relation) }}
        {{ form_row(form.file) }}

        {{ form_end(form) }}

	</div>

</div>

	{% endblock %}